                    @import url('http://fonts.googleapis.com/css?family=Open+Sans');
$font-stack:   		'Open Sans', Helvetica, Arial, sans-serif;
$primary-color: 	#fff;
$secondary-color: 	#f90;
$background:	 	#900;
